.clear-palette-btn {
    position: absolute;
    top: 1rem; /* Adjust to position the button from the top */
    right: 1rem; /* Adjust to position the button from the right */
    background-color: beige; /* Button background color */
    border: 2px solid;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
  }