.hex_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: beige;
  text-align: center; /* Ensure text is centered */
}

.colorRGB {
  margin-top: 10px; /* Add space between the two lines */
  font-size: 25px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .hex_container {
    top: 150px;
    font-size: 20px;
  }

  .colorRGB {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .hex_container {
    top: 120px;
    font-size: 18px;
  }

  .colorRGB {
    font-size: 18px;
  }
}
