.icon{
    padding: 1.5rem;
    font-size: 20px;
    cursor: pointer;
}

.icons-container{
    position: absolute;
    top: 55%;
    left: 45%;
}

@keyframes copyAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.icon-copy.clicked {
    animation: copyAnimation 0.5s ease-in-out;
}
  

/* Responsive Styles */

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .icon {
        padding: 1rem; /* Reduce padding */
        font-size: 18px; /* Reduce font size */
    }

    .icons-container {
        top: 50%; /* Adjust top position */
        left: 50%; /* Adjust left position */
        transform: translate(-50%, -50%); /* Center horizontally and vertically */
    }
}

/* Adjustments for even smaller screens */
@media screen and (max-width: 480px) {
    .icon {
        padding: 0.8rem; /* Further reduce padding */
        font-size: 16px; /* Further reduce font size */
    }
}
