.squares-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 1rem auto;
}

.show {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease,
    border 0.5s ease;
}

.liked {
  border: 5px solid red;
}

.transform {
  transform: scale(0.9);
}

.square:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.square-delete {
  position: relative;
  top: 4px;
  left: 4px;
  margin: 1px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.squarColorInfo {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  height: 77px;
  justify-content: center;
  align-items: center;
}

.squarColorInfo:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .squares-container {
    width: 100%; /* Adjust container width */
    padding: 0.5rem;
  }

  .square {
    width: 80px;
    height: 80px;
    margin: 8px;
  }

  .square-delete {
    top: 3px;
    left: 3px;
  }

  .squarColorInfo {
    font-size: 14px;
  }

  .icon {
    padding: 1rem;
    font-size: 18px;
  }

  .hex_container {
    top: 200px;
  }

  .colorRGB {
    top: 90px;
  }

  button {
    padding: 0.8em 1.5em;
  }

  .container {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .squares-container {
    width: 100%; /* Full width for small screens */
    padding: 0.5rem;
  }

  .square {
    width: 60px;
    height: 60px;
    margin: 5px;
  }

  .square-delete {
    top: 2px;
    left: 2px;
  }

  .squarColorInfo {
    font-size: 12px;
  }

  .hex_container {
    top: 150px;
    font-size: 20px;
  }

  .colorRGB {
    top: 70px;
    font-size: 20px;
  }

  button {
    padding: 0.6em 1.2em;
    font-size: 16px;
  }

  .container {
    padding: 1rem;
  }
}
